html[data-theme='light']{
    --background-color:white;
    --main-background:white;
    --main-text-color:black;
    --myBtn-background-color:rgb(33,37,41);
    --myBtn-text-color:white;
    --myBtn-border-color:rgb(33,37,41);
    --cardBook-background-color:white;
    --cardBook-color:black;
    --cardBook-border-color:#3c3c3c;
    --textReview-background:white;
    --search-input-background:rgb(248, 239, 207);
}
html[data-theme='dark']{
    --background-color:#3c3c3c;
    --main-background:#3c3c3c;
    --main-text-color:white;
    --myBtn-background-color:rgb(232, 172, 19);
    --myBtn-border-color:rgb(232, 172, 19);
    --myBtn-text-color:black;
    --cardBook-background-color:#3c3c3c;
    --cardBook-color:white;
    --cardBook-border-color:white;
    --textReview-background:rgb(244, 216, 147);
    --search-input-background:rgb(206, 206, 206);
}

body{
    font-family: 'Roboto', 'Montserrat', sans-serif;
    background-color: var(--background-color);
    transition: background-color 200ms linear;
}
.contMain{
    background-color: var(--main-background);
    transition: background-color 200ms linear;
    color:var(--main-text-color);    
    transition: color 500ms linear;
    margin: 0 auto 0 auto;
    width: 60%;
    border: solid 4px #9FA0A4;
}

.myBtn{
    background-color: var(--myBtn-background-color);
    color:var(--myBtn-text-color); 
    transition: background-color 100ms linear;
    border-color: var(--myBtn-border-color);
}
.myBtn:hover{
    background-color: black;
    border-color: black;
}

.cardBook{
    background-color: var(--cardBook-background-color);
    color:var(--cardBook-color);
    border-color: var(--cardBook-border-color);
    width: 20rem;
    height:auto;
    margin:0 5% 2% 5%;
}

.myProf{
    color:white
}

.myPageContainer{
    margin: 5% 3% 0 3%;
}

.myTable{
    width: 100%;
    color:var(--main-text-color);
    text-align: center;
}

.contanForControl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

.contanForItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2% 3% 2% 3%;
}

.rbt-input-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rbt-token-removeable{
    display: flex;
    flex-direction: row;
    width: auto;
    margin-right: 3%;
    align-items: center;
    background-color: #e7f4ff;
    padding: 2px;
    border-radius: 5px;
    color:#007bff;
}
.rbt-close-content{
    display: none;
}
.close {
    font-size: 60%;
}

.quill{
    margin-top: 2%;    
}
.ql-container{
    overflow-y: auto;
    height: 7em;
}

.MyPicture{
    border: dashed 2px;
    border-color: var(--main-text-color);
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MyInput{
     display: none; 
}
.labelMyInput{
    border: solid 2px;
    border-color: var(--main-text-color);
    padding: 5px 10px;
    cursor: pointer;
    /* display: none; */
}

.showRev{
    display: flex;
    flex-direction: row;
    margin: 2% 5% 2% 5%;
    color:var(--main-text-color);
}
.pict{
    width: 30em;
    height: 25em;
    float: left;
    margin-right: 2%;
}


.textReview{
    background-color:var(--textReview-background);
    border-radius: 10px;
    padding: 5px;
}

.myCardReview{
    font-size: 13px;
    border: solid 2px ;
    border-color: var(--main-text-color);
    background-color: var(--cardBook-background-color);
    color:var(--main-text-color);  
    margin-top: 2%;
}

.bi-star-fill{
    color:yellow
}

.MyDescript{
    width: 20rem;
    height:auto;
    padding:2%;
    border: solid 2px ;
    border-color: var(--main-text-color);
    background-color: var(--cardBook-background-color);
    color:var(--main-text-color);  
}
.emptyReview{
    color:var(--main-text-color);
    font-size: 1.5em;
}

.comment{
    margin: 0 5% 2% 5%;
}

.newComment{
    display: flex;
    flex-direction: row;
    margin: 5%;
    align-items: center;
}
.textar{
    width: 60%;
    margin-right: 2%;
}
.newComBut{
    width: 15%;
    height: 3em;
}

.oneComment{
    border: solid 1px ;
    border-color: var(--main-text-color);
    border-radius: 10px;
    color:var(--main-text-color);
    margin-bottom: 2%;
    width: 60%;
}
.labelForComment{
    color:var(--main-text-color);
}
.myPerson{
    color:var(--main-text-color);
}
.buttForAut{
    margin:2% auto 0 auto;
}
.starRating{
    text-align: center;
    margin-bottom: 2%;
    color:var(--main-text-color);
}
.likeBtn{
    background-color: #f5a754;
    border-color: #f5a754;
}
.likeHand{
    color: rgb(66, 65, 65);
}

.activUser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:var(--main-text-color);
}

.userLink{
  font-family: 'Roboto';
  text-decoration: none;
  font-size: 18px;
  color: var(--main-text-color);
  font-weight: 300;
  margin: 0 2px;
  position: relative;
}
.userLink:hover{
    color: var(--main-text-color);
}
.userLink:before {
  position: absolute;
  margin: 0 auto;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--main-text-color);
  content: '';
  opacity: .3;
  transform: scaleX(.6);
  transition-property: opacity, transform;
  transition-duration: .3s;
}
  
.userLink:hover:before {
    transform: scaleX(1);
    opacity: 1; 
}
.helloMain{
    margin: 2% 2% 3% 2%;
    display: flex;
    flex-direction: row;
}
.tagCloud{
    border: solid 1px rgb(181, 181, 181);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 2%;
    padding: 10px;
}
.tagCloud span{
    z-index: 5;
}
.tagCloud:hover{
    cursor: pointer;
}
.reviewLast{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2% 2% 2%;
    justify-content: center;
}
.reviewLast > div{
    width: 20em;
    margin-right: 2%; 
}
.tagsContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2% 2% 2%;
    justify-content: center;
}
.tagsContent > div{
    width: 20em;
    margin-right: 2%; 
}
.HInMain{
    color: var(--main-text-color);
    margin: 4% 2% 1% 2%;
    border-bottom: solid 2px #9FA0A4;
}
.searchInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    position: relative;
}
.autocomplite{
    border: solid 3px rgb(123, 123, 123);
    border-radius: 5px;
    padding: 25px;
    position: absolute; top: 47px;left:41%;
    z-index: 10;
    background-color: var(--search-input-background);
    height: 15em;
    overflow-y: auto;
}
.autocomplite li{
    list-style-type: none;
    margin-bottom: 2%;
}
.autocomplite a{
    color: black;
}
.mainGroup{
    display: flex;
    flex-direction: row;
}
.pictDrag{
    color: rgb(180, 178, 178);
    font-size: 3em;
}
.btnForImage{
    position: absolute;
    width: 0.5em;
    height: 1.5em;
    border-radius: 100%;
    background-color: var(--myBtn-background-color);
    border-color: var(--myBtn-background-color);
}
.btnForImage:hover{
    background-color: rgb(16, 208, 16);
    border-color: rgb(16, 208, 16);
}
.btnForImage i{
    position: absolute;top:0;left: 20%;
}


@media all and (max-width: 60em){
    .myPageContainer{
        margin: 0;
    }
   .showRev{
        flex-direction: column;
        align-items: center;
   }
   .pict{
     width: auto;
   }
   .contanForItem{
      flex-direction: column;
      align-items: center;
    }
    .MyDescript{
        width: 100%;
        margin-bottom: 2%;
    }
    .MyDescript .card-img-top{
        height: 40em;
        width: 70%;
        margin: 0 auto 0 auto;
        padding: 5%;
    }
    .cardBook img{
        height: 50%;
    }
}
    
@media all and (max-width: 40em){

    .labelMyInput{
        display: block;
    }
    .MyPicture{
        display: none;
    }
    
    .MyDescript{
        width: 100%;
        margin-bottom: 3%;
    }
    .showRev{
        flex-direction: column;
    }
    .newComment{
        flex-direction: column;
    }
    .textar{
        width: 90%;        
    }
    .newComBut{
        width: 50%;
        height: 3em;
    }
    .myTable thead {
        display: none;
    }
    .myTable tr {
        display: block;
    }
    .myTable td {
      display: block;
      text-align: center;
    }
    .myTable td:before {
      content: attr(aria—label);
      float: left;
    }
    .mainCont{
        margin-top: 40%;
    }
    .contanForControl{
        flex-direction: column;
        margin: 5%;
        align-items: flex-start;
    }
    .dropdown{
        margin:0 0 2% 2%;
    }
    .serch{
        margin: 2% 0 0 2%;
    }
    .mainGroup{
        flex-direction: column;
    }
    .pict{
        width: 100%;
    }
    .helloMain{
        flex-direction: column;
    }
    .tagCloud{
        width: 90%;
        margin-top: 5%;
    }
    .contMain{
        width: 90%;
    }
}