html[data-theme='light']{
    --background-color:white;
    --main-background:white;
    --main-text-color:black;
    --myBtn-background-color:rgb(33,37,41);
    --myBtn-text-color:white;
    --myBtn-border-color:rgb(33,37,41);
    --cardBook-background-color:white;
    --cardBook-color:black;
    --cardBook-border-color:#3c3c3c;
}
html[data-theme='dark']{
    --background-color:#3c3c3c;
    --main-background:#3c3c3c;
    --main-text-color:white;
    --myBtn-background-color:rgb(232, 172, 19);
    --myBtn-border-color:rgb(232, 172, 19);
    --myBtn-text-color:black;
    --cardBook-background-color:#3c3c3c;
    --cardBook-color:white;
    --cardBook-border-color:white;
}

body{
    background-color: var(--background-color);
    transition: background-color 200ms linear;
}
.contMain{
    background-color: var(--main-background);
    transition: background-color 200ms linear;
    color:var(--main-text-color);    
    transition: color 500ms linear;
}

.myBtn{
    background-color: var(--myBtn-background-color);
    color:var(--myBtn-text-color); 
    transition: background-color 100ms linear;
    border-color: var(--myBtn-border-color);
}
.myBtn:hover{
    background-color: black;
    border-color: black;
}

.cardBook{
    background-color: var(--cardBook-background-color);
    color:var(--cardBook-color);
    border-color: var(--cardBook-border-color);
    width: 20rem;
    height:auto;
    margin:0 5% 2% 5%;
}

.myProf{
    color:white
}

.myPageContainer{
    margin: 5% 3% 0 3%;
}

.myTable{
    color:var(--main-text-color)
}

.contanForControl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

.contanForItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 3% 2% 3%;
}

.rbt-input-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rbt-token-removeable{
    display: flex;
    flex-direction: row;
    width: auto;
    margin-right: 3%;
    align-items: center;
    background-color: #e7f4ff;
    padding: 2px;
    border-radius: 5px;
    color:#007bff;
}
.rbt-close-content{
    display: none;
}
.close {
    font-size: 60%;
}