html[data-theme='light']{
    --background-color:white;
    --main-background:white;
    --main-text-color:black;
    --myBtn-background-color:rgb(33,37,41);
    --myBtn-text-color:white;
    --myBtn-border-color:rgb(33,37,41);
    --cardBook-background-color:white;
    --cardBook-color:black;
    --cardBook-border-color:#3c3c3c;
    --textReview-background:white;
}
html[data-theme='dark']{
    --background-color:#3c3c3c;
    --main-background:#3c3c3c;
    --main-text-color:white;
    --myBtn-background-color:rgb(232, 172, 19);
    --myBtn-border-color:rgb(232, 172, 19);
    --myBtn-text-color:black;
    --cardBook-background-color:#3c3c3c;
    --cardBook-color:white;
    --cardBook-border-color:white;
    --textReview-background:rgb(244, 216, 147);
}

body{
    background-color: var(--background-color);
    transition: background-color 200ms linear;
}
.contMain{
    background-color: var(--main-background);
    transition: background-color 200ms linear;
    color:var(--main-text-color);    
    transition: color 500ms linear;
}

.myBtn{
    background-color: var(--myBtn-background-color);
    color:var(--myBtn-text-color); 
    transition: background-color 100ms linear;
    border-color: var(--myBtn-border-color);
}
.myBtn:hover{
    background-color: black;
    border-color: black;
}

.cardBook{
    background-color: var(--cardBook-background-color);
    color:var(--cardBook-color);
    border-color: var(--cardBook-border-color);
    width: 20rem;
    height:auto;
    margin:0 5% 2% 5%;
}

.myProf{
    color:white
}

.myPageContainer{
    margin: 5% 3% 0 3%;
}

.myTable{
    width: 100%;
    color:var(--main-text-color)
}

.contanForControl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

.contanForItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 3% 2% 3%;
}

.rbt-input-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rbt-token-removeable{
    display: flex;
    flex-direction: row;
    width: auto;
    margin-right: 3%;
    align-items: center;
    background-color: #e7f4ff;
    padding: 2px;
    border-radius: 5px;
    color:#007bff;
}
.rbt-close-content{
    display: none;
}
.close {
    font-size: 60%;
}

.quill{
    margin-top: 2%;    
}
.ql-container{
    overflow-y: auto;
    height: 7em;
}

.MyPicture{
    border: dashed 2px;
    border-color: var(--main-text-color);
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MyInput{
     display: none; 
}
.labelMyInput{
    border: solid 2px;
    border-color: var(--main-text-color);
    padding: 5px 10px;
    cursor: pointer;
    /* display: none; */
}

.showRev{
    display: flex;
    flex-direction: row;
    margin: 2% 5% 2% 5%;
    color:var(--main-text-color);
}
.pict{
    width: 20em;
    height: 25em;
}

.textReview{
    background-color:var(--textReview-background);
    border-radius: 10px;
    padding: 5px;
}

.myCardReview{
    font-size: 13px;
    border: solid 2px ;
    border-color: var(--main-text-color);
    background-color: var(--cardBook-background-color);
    color:var(--main-text-color);  
    margin-top: 2%;
}

.bi-star-fill{
    color:yellow
}

.MyDescript{
    width: 20rem;
    height:auto;
    padding:2%;
    border: solid 2px ;
    border-color: var(--main-text-color);
    background-color: var(--cardBook-background-color);
    color:var(--main-text-color);  
}
.emptyReview{
    color:var(--main-text-color);
    font-size: 1.5em;
}

.comment{
    margin: 0 5% 2% 5%;
}

.newComment{
    display: flex;
    flex-direction: row;
    margin: 5%;
    align-items: center;
}
.textar{
    width: 60%;
    margin-right: 2%;
}
.newComBut{
    width: 15%;
    height: 3em;
}



@media all and (max-width: 60em){
    
}
    
@media all and (max-width: 40em){

    .labelMyInput{
        display: block;
    }
    .MyPicture{
        display: none;
    }
    .contanForItem{
        flex-direction: column;
    }
    .MyDescript{
        width: 100%;
        margin-bottom: 3%;
    }
    .showRev{
        flex-direction: column;
    }
    .newComment{
        flex-direction: column;
    }
    .textar{
        width: 90%;        
    }
    .newComBut{
        width: 50%;
        height: 3em;
    }
    .myTable thead {
        display: none;
    }
    .myTable tr {
        display: block;
    }
    .myTable td {
      display: block;
      text-align: center;
    }
    .myTable td:before {
      content: attr(aria—label);
      float: left;
    }
    .mainCont{
        margin-top: 40%;
    }
        
}