html[data-theme='dark']{
  --button-text-color:'white';
  --button-background-color:'#3c3c3c';
  --button-border-color:'black';
  --input-text-color:'black';
  --input-placeholder-text-color:'#3c3c3c';
  --input-background-color:'#f0f0f0';
  --input-border-color:'black';
  --background-color:'#787878';
}

html[data-theme='light']{
    --button-text-color:'white';
    --button-background-color:'black';
    --button-border-color:'black';
    --input-text-color:'black';
    --input-placeholder-text-color:'#3c3c3c';
    --input-background-color:'white';
    --input-border-color:'#787878';
    --background-color:'white';
}



